#colorPickerContainer{
    background-size:cover;
    height: 60vh;
    text-align: center;
    width: 60vw;
    background-color: yellow;
}
#button1{
    width:80px;
    height: 70px;
    border-radius: 10px;
    background-color: #e0e0e0;
}#button2{
    width:80px;
    height: 70px;
    border-radius: 10px;
    background-color:#6fcf97;
}
#button3{
    width:80px;
    height: 70px;
    border-radius: 10px;
    background-color:#56ccf2;
}
#button4{
    width:80px;
    height: 70px;
    border-radius: 10px;
    background-color: #e0e0e0;
}